<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/#/spots">Dogspots</a>
      <div class="nav-collapse collapse" style="height: 0px;">
        <ul class="nav">
          <li>{{#linkTo 'spots.new'}}New Spot{{/linkTo}}</li>
          <li><a href="/#/account">Account</a></li>
          <li><a href="/#/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">{{outlet}}</div>