<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/#/spots">Dogspots</a>
      <div class="nav-collapse collapse" style="height: 0px;">
        <ul class="nav">
          <li>{{#linkTo spotNew}}New Spot{{/linkTo}}</li>
          <li><a href="">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">{{outlet}}</div>