{{ log controller }}
<h3>Comments</h3>
<ul>
  {{#each comment in controller }}
    <li>
      <a href='#' {{action "report" comment.id }}>[report]</a>
      {{comment.text}}
    </li>
  {{/each}}
</ul>