<h1>Edit Spot</h1>
<label {{bindAttr for="view.title.elementId"}}>Title:</label> {{view Ember.TextField viewName="title" valueBinding="title"}}<br/>
<a href='#' {{action "update"}}>Update</a> - <a href='#' {{action "destroy"}}>Destroy</a>