{{#if currentUser.isSignedIn}}Hi, {{currentUser.name}}{{else}}Hello, Guest{{/if}}
<h1>Spots</h1>
<ul>
  {{#each spot in content}}
    <li>{{#linkTo spot spot}}{{spot.title}} [{{spot.average_ratings.spot}}]{{/linkTo}}</li>
  {{/each}}
</ul>

{{#linkTo spotNew}}New Spot{{/linkTo}}