<div id="spots">
{{#each spot in content}}
  {{#linkTo spot spot class="row-fluid spots-entry"}}
    <div class="span3"><img {{bindAttr src="spot.image_url"}}" /></div>
    <div class="span9">
      <h4>{{spot.title}}</h4>
      <span>{{spot.average_ratings.spot}} Stars, {{spot.average_ratings.size}} Bewertungen</span>
    </div>
  {{/linkTo}}
{{/each}}
<div class="clear"></div>
</div>