<h1>Show Spot</h1>
<p>{{title}}</p>
<p>{{text}}</p>
{{ render 'comments' comments }}

{{#linkTo 'spot.comment' content}}New Comment{{/linkTo}}
{{#linkTo 'spot.edit' content}}Edit Spot{{/linkTo}}
{{#linkTo spots}}Index Spots{{/linkTo}}
{{outlet}}